body {
  background: #f4f7fa;
  font-family: "Arial", sans-serif;
  margin: 0;
}

.dashboard-box .label i {
  margin-right: 8px;
  font-size: 1.5rem;
  color: #333;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  margin-left: 0;
}

.summary-label {
  text-align: center;
  margin-bottom: 30px;
}

.summary-label h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline;
  margin-right: 10px;
}

.toggle-button {
  background: none;
  border: none;
  color: #435565;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.3s ease;
  display: inline-flex;
  align-items: center;
}

.dashboard-boxes {
  margin-top: 10px;
}

.dashboard-boxes.collapsed {
  max-height: 0;
  padding: 0;
  overflow: hidden;
}

.dashboard-card {
  width: 500px;
  height: 300px;
  margin: 0;
  background: #636d7d;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0px;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.dashboard-card h3, .dashboard-value, .dashboard-card .label {
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.dashboard-card .label {
  font-size: 1.1rem;
  color: #bbb;
  text-transform: uppercase;
}

.dashboard-card h3 {
  font-size: 1.25rem;
  color: #fff;
}

.dashboard-value {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffff;
}

.toggle-button i {
  transition: transform 0.5s ease;
}

.toggle-button i.fa-chevron-up {
  transform: rotate(180deg);
}

.toggle-button i.fa-chevron-down {
  transform: rotate(0deg);
}
